body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    overflow: hidden;
    background-color: #f8f9fa;
}


.container {
    display: flex;
    width: 100vw;
    height: 100vh;
    border: 1px solid #ccc;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.sidebar {
    width: 25vw;
    background-color: #f1f1f1;
    border-right: 1px solid #ccc;
    display: flex;
    flex-direction: column;
}

.sidebar-item {
    padding: 15px;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
}

.sidebar-item:hover {
    background-color: #ddd;
}

.sidebar-item.active {
    background-color: #3c8dbc;
    color: #fff;
}
